@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.ui-helper-hidden-accessible { display:none; }

#sona_form {
    padding: 10px;
    background-color: #f6f6f6;
    overflow: hidden;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}
input[type=text], textarea, select {
    font: 17px Calibri;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=button]{
    font: 17px Calibri;
    width: auto;
    float: right;
    cursor: pointer;
    padding: 7px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    /*position: absolute;*/
    /*z-index: 1;*/
}


#gallery {
    white-space: normal;
    overflow-y: scroll;
    width: 31%;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;

    /*position: static;*/
}

#task-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-left: 1vw;
}

.instructions {
    /*position: absolute;*/
    /*margin-left: 20vw;*/
    padding-top: 0.5%;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    height: 5%;
}



#arena {
    background-color: gray;
    border: 3px solid black;
    width: 97%;
    height: 85%;
    position: relative;
    z-index: 5;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

.button_done {
    background-color: #696969;
    border: none;
    color: white;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 10%;
    height: 80%;
    font-size: 1em;
}

.button_reset {
    background-color: #696969;
    border: none;
    color: white;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 10%;
    height: 80%;
    font-size: 1em;
}

.checkbox-slider--b-flat {
}

h2{
    font-size: 1em;

}

#myTooltip {
    position: fixed;
    z-index: 7;
    padding: 10px;
    overflow-x: visible;
    overflow-y: visible;
    /*color: white;*/
    /*opacity: 90%;*/
    width: 177.6px;
    height: 139.2px;
}
.item {
    cursor: grab;
    position: relative;
    z-index: 6;
    opacity: 100%;
    margin: 0 5px 5px;
    display: initial;
    max-width: 100%;
    max-height: 100%;
}

.newItem {
    cursor: grab;
    display: initial;
    position: absolute;
    z-index: 7;
    opacity: 100%;
    margin: 0 0;
}

#toosmall {
    display: none;
}
#project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
}

@media screen and (max-width: 800px) , screen and (max-height: 600px) {
    #toosmall{
        display: flex;
        position: fixed;
        background: red;
        top: 20vh;
        left: 20vw;
    }
    #project{
        display: none;
    }

}